@import '../variables';

.pagenotfound {
  color: $black;
  width: 100vw;
  height: 100vh;
  @include flex(center, center, $vertical: true);
  gap: 1rem;
  h2 {
    font-size: clamp(3rem, 12vw + 1rem, 5rem);
    color: $mainClr;
  }
  p {
    font-size: clamp(1.2rem, 7vw + 1rem, 2rem);
  }
  .b2h {
    color: $black;
    text-decoration: underline;
  }
}
