@import '../../variables';

.filter {
  @include flex(center, center);
  gap: 3rem;
  flex-wrap: wrap;
  color: $white;
  .query {
    label {
      font-weight: bold;
      font-size: 1.025rem;
    }
    select {
      outline: none;
      margin-left: 0.5rem;
      background-color: transparent;
      border: none;
      border-bottom: solid 1.5px $white;
      padding: 0.3rem 1rem;
      color: $white;
      font-weight: bold;
      font-size: 1.025rem;
      & * {
        color: $black;
        padding-block: 0.25rem;
      }
    }
  }
}

@include wide-mobile {
  .filter {
    gap: 2rem;
  }
}
