@import '../../variables';

.footer {
  width: 100vw;
  padding-block: 2rem;
  background-color: $mainClr;
  text-align: center;
  .container {
    width: 100%;
    @include flex(space-between, center);
    .contact {
      @include flex(center, flex-start, $vertical: true);
      gap: 0.5rem;
      h4 {
        font-size: clamp(1.2rem, 4vw + 1rem, 1.5rem);
      }
      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }
}

@include wide-mobile {
  .footer {
    .container {
      width: 100%;
      @include flex(center, center, $vertical: true);
      .contact {
        @include flex(center, center, $vertical: true);
      }
      .estate {
        margin-top: 1rem;
      }
    }
  }
}
