@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import './variables';

html {
  font-size: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
  color: $white;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

section {
  padding-block: 3rem;
}
