@import '../variables';

.main {
  padding-top: 4rem;
  .purpose-text {
    margin-top: 3rem;
    font-size: clamp(2rem, 7vw + 1rem, 2.5rem);
    font-weight: bold;
    text-align: center;
    color: $black;
  }
  .searched-page {
    width: 100vw;
    min-height: 80vh;
    @include flex(center, center);
    .search-container {
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      // @include flex(center, center);
      // flex-wrap: wrap;
      gap: 2rem;
      .loading {
        width: 100%;
        @include flex(center, center);
        p {
          width: max-content;
          color: $black;
          font-size: clamp(1.5rem, 8vw + 1rem, 2.5rem);
        }
      }
      .went-wrong {
        color: $black;
        font-size: clamp(1.5rem, 8vw + 1rem, 2rem);
      }
    }
  }
}
